#about-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  width: 65%;
  margin: auto;
}

#main-header {
  color: #fdfdfd;
  text-align: center;
  margin-bottom: 2%;
  width: 100%;
  position: relative;
  top: 1.5rem;
}

.section {
  position: relative;
  width: calc(48% - 20px);
  margin: 2%;
  padding: 4%;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(0, 148, 176, 0.8), rgba(246, 220, 89, 0.2));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 1.5s ease;
}

.section:hover {
  background: linear-gradient(135deg,  #6168ba61, rgba(0, 0, 128, 0.2));
  transition: background 1.5s ease; /* Added transition on hover state */
}

.section h2 {
  color: #ffd725;
  font-size: 1.7em;
  transition: color 0.3s ease;
}

.section:hover h2 {
  color: #fff;
}


@media screen and (max-width: 1000px) {
  #about-Container {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  #about-Container {
    width: 90%;
  }

  .section {
    width: calc(48% - 10px);
    margin: 2%;
  }
}

@media screen and (max-width: 480px) {
  #about-Container {
    width: 100%;
  }

  .section {
    width: calc(100% - 20px);
    margin: 4%;
  }
}
