#container-Daily-Weekly {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 0.5em;
  position: relative;
  top: 1.7em;
  transition: width 0.5s ease-in-out;
  width: 18%;
  margin: auto;
}

/* #container-Daily-Weekly.expanded {

} */

/* .d-block{
  width: 30em;
height: auto;
} */

.carousel-item{
  height: 44rem;

  
}

.carousel-inner{
  border-radius: 1rem;
 
}

.heart-icon{
font-size: 2.6rem;

}

.fa-heart:before{
  color: red ;
  font-size: 2.6rem;
}


#paginationSection {
  margin-top: 3em;
}
#moviesPresentation {
position: relative;
  top: 3em;
  /* margin-bottom: auto; */


  
}




#dailyId,
#weeklyId {
  padding: 0.7em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1em;
  width: 10rem;
  min-width: 5rem;

}



#dailyId :active,
#weeklyId :active {
  transform: scale(0.95);
  
}



#dailyId {
  padding: 0.7em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1em;
  background: linear-gradient(to right, #e6d687, #d4bf71);
  color: #001f3f;
  transition: background 0.9s ease, color 0.3s ease, transform 0.3s ease;
  animation: glow-gold 3s infinite;
}

#dailyId:hover {
  background: linear-gradient(to right, #d4bf71, #e6d687);
  color: #fff;
  animation: none;
  transition: 1s linear;
}

#weeklyId {
  padding: 0.7em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1em;
  background: linear-gradient(to right, #0077cc, #005580);
  color: #fff;
  transition: background 0.9s ease, color 0.3s ease, transform 0.3s ease;
  animation: glow-blue 3s infinite;

}

#weeklyId:hover {
  background: linear-gradient(to right, #005580, #0077cc);
  animation: none;
  color: #110000c5;
  transition: 1s linear;
}

@keyframes glow-gold {
  0%, 100% {
    box-shadow: 0 0 11px rgba(255, 215, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 22px rgba(255, 215, 0, 0.6);
  }
}

@keyframes glow-blue {
  0%, 100% {
    box-shadow: 0 0 11px rgba(0, 119, 204, 0.8);
  }
  50% {
    box-shadow: 0 0 22px rgba(0, 119, 204, 0.6);
  }
}



.shine-button {
  padding: 0.7em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1em;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.shine-button:hover {
  transition: 0.6s linear;
}

.shine-button:active {
  transform: scale(0.95);
}

.shine-button:hover .shine-line {
  left: 100%;
}

.shine-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  transform: skewX(-20deg);
  animation: shine 3.5s infinite linear 2s;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
}



.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40%; 
  height:50%; 
  font-size: 2rem; }

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 30rem;
  }
}

@media (max-width: 576px) {
  #paginationSection {
    margin-top: 1em;

  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
  margin-bottom: 290%; 
    font-size: 2rem; }
  
}

@media (max-width: 480px) {
  .carousel-control-prev-icon,
.carousel-control-next-icon {
margin-bottom: 390%; 
  font-size: 2rem; }

  
  .pagination {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 390px) {
  .carousel-control-prev-icon,
.carousel-control-next-icon {
margin-bottom: 490%; 
  font-size: 2rem; }}

  @media (max-width: 340px) {
    .carousel-control-prev-icon,
  .carousel-control-next-icon {
  margin-bottom: 570%; 
    font-size: 2rem; }}
